{% extends "album/base.html" %}

{% block content %}

<div class="row">
    <h3 class="col-sm-10">My Albums</h3>
    <a class="col-sm-2 btn btn-outline-success btn-md" href="{% url 'album:album_create' %}" role="button">Create Album</a>
</div>
<hr>
<div class="row">
{% for album in queryset %}

<div class="card col-lg-3" style="width: 18rem; margin: 35px;">
  <img class="card-img-top" src="{{ album.photos.first.image.url }}" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-title">{{ album.title }}</h6><hr>
    <p class="card-text">{{ album.description|linebreaks|truncatechars:50 }}</p>
    <a href="{{ album.get_absolute_url }}" class="btn btn-primary">View Album</a>
  </div>
</div>

{% endfor %}
</div>
{% endblock content %}
